@import "../../variables.scss";

.container {
  width: 680px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  
  .top {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;  
  }
  
  .bottom {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 75px 40px 60px 40px;
    border: 2px solid $background-hover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .block {
    width: 270px;
  }
  
  .name {
    padding: 5px 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: $text-dark;
    white-space: nowrap;
  }
  
  .info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .datum {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: $text-dark;
    margin-right: 5px;
  }
  
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $text-light;
  }

  &.dark {
    .wrapper {
      background-color: $background-dark-dark;
    }

    .bottom {
      border-color: $background-hover-dark;
    }

    .name {
      color: #FFFFFF;
      background-color: #282828;
    }
    .datum {
      color: #FFFFFF;
    }
  }
}

