@import "../../variables.scss";

.container {
  width: 680px;
  height: 100%;
  background-color: $background-hover;
  border-radius: 20px;
  position: relative;
}

.image {
  position: absolute;
  top: 50%;
  left: -12%;
  transform: translateY(-50%);
}

.container.dark {
  background-color: $background-dark-dark;
}