@import "../../variables.scss";

.container {
  width: 680px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  background: #FFFFFF;
  border-radius: 20px;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;  
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: $text-light;
  & span {
    font-weight: 500;
    color: $text-dark;
  }
}