@import "../../styles/variables.scss";

.container {
  position: relative;
  width: 100%;
  height: 360px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 35%);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 20px;
  list-style-type: none;
  @include transition-primary;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: $background-hover;
  border-radius: 10px;
  cursor: pointer;
  @include transition-primary;
}

.active {
  background-color: $color-active;
}

.container.dark {
  .dots {
    background-color: #282828;
  }

  .dot {
    background-color: $background-hover-dark;
  }

  .active {
    background-color: $color-active;
  }
}

@media (max-width: 1400px) {
  .container {
    height: 320px;
  }

  .img {
    height: 320px;
  }
}

@media(max-width: 576px) {
  .container {
    height: 280px;
  }

  .img {
    height: 280px;
  }
}


