@import './variables.scss';

.app {
  padding: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  background-color: $background-light;

  .right {
    flex: 1;
  }
}

.app.dark {
  background-color: $text-dark;
}
