$text-light: #8C8C8C;
$text-dark: #1D1D1D;

$color-active: #FF868E;

$background-light: #F8F8F7;

$background-hover: #FBE0DC;

$background-blue: #B4B7FF;
$background-green: #97EAB9;
$background-yellow: #FFD280;

