@import "../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.container svg {
  animation: rotate 2s linear infinite;
  width: 100px;
  height: 100px;
  fill: $background-hover;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
